!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html{:lang => "en", 'ng-app' => 'ThePshqEntrepreneur'}
  / <![endif]
  %head
    / Meta
    %base{:href => "/"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
      %meta{:content => "TheWorld is a fresh and clean magazine website template which is beautiful and well-organized", :name => "description"}
        %meta{:content => "magazine template, news template", :name => "keywords"}
          %meta{:content => "themejunkie", :name => "author"}
            / Title
            %title ThePSHQEntrepreneur

            = stylesheet_link_tag "jquery-ui-1.11.2.custom.css"
            = stylesheet_link_tag 'gritter/jquery.gritter.css'
            = stylesheet_link_tag "chosen.css"
            = stylesheet_link_tag "theme/world-theme-include.css"
            = stylesheet_link_tag "theme2/theme2.css"

  %body

    / Page / Start
    #page.hfeed.site.clearfix
      / Site Main / Start
      %main#main.site-main{:role => "main"}

        %header#masthead.site-header.clearfix{:role => "banner"}
          .container
            #logo.no-padding
              %a{:href => "/"}
                = image_tag "PSHQ-logo.jpg"

            / Primary Navigation / Start
            %nav#primary-nav
              %ul#primary-menu.sf-menu
                %li
                  %a{:href => "single_page.html"}
                    PSHQ
                    %span.menu-desc Learn About the Business
                  .sf-mega.cols-3
                    .sf-mega-section
                      %h3 Page Layouts
                      %ul
                        %li
                          %a{:href => "archive.html"} Archive
                        %li
                          %a{:href => "single_page.html"} Single Page
                        %li
                          %a{:href => "single_post.html"} Single Post
                        %li
                          %a{:href => "search.html"} Search
                    .sf-mega-section
                      %h3 Other Pages
                      %ul
                        %li
                          %a{:href => "404.html"} 404 Page
                        %li
                          %a{:href => "full_width.html"} Full Width
                        %li
                          %a{:href => "left_sidebar.html"} Left Sidebar
                        %li
                          %a{:href => "right_sidebar.html"} Right Sidebar
                    .sf-mega-section.last-section
                      %h3 Paragraph
                      %p
                        This Mega Menu can handle everything. Lists, paragraphs, forms...
                  / .sf-mega
                %li
                  %a{:href => "about.html"}
                    About
                    %span.menu-desc Meet Your Hosts
                %li
                  %a{:href => "contact.html"}
                    Contact
                    %span.menu-desc Get In Touch
                %li
                  %a{:href => "single_page.html"}
                    Dropdown
                    %span.menu-desc With Sub-menus
                  %ul
                    %li
                      %a{:href => "single_page.html"} Sub Menu 1
                      %ul
                        %li
                          %a{:href => "single_page.html"} Sub Menu 1.1
                          %ul
                            %li
                              %a{:href => "single_page.html"} Sub Menu 1.1.1
                            %li
                              %a{:href => "single_page.html"} Sub Menu 1.1.2
                            %li
                              %a{:href => "single_page.html"} Sub Menu 1.1.3
                        %li
                          %a{:href => "single_page.html"} Sub Menu 1.2
                        %li
                          %a{:href => "single_page.html"} Sub Menu 1.3
                    %li
                      %a{:href => "single_page.html"} Sub Menu 2
                    %li
                      %a{:href => "single_page.html"} Sub Menu 3
                %li
                  %a{:href => "typography.html"}
                    Typography
                    %span.menu-desc Element Styles
            / Primary Navigation / End
            .clearfix
        / Masthead / End
        / Secondary Bar / Start
        #secondary-bar
          .container.clearfix
            %a#secondary-mobile-menu{:href => "#"}
              %i.fa.fa-bars
              %span Secondary Menu
            / Secondary Navigation / Start
            %nav#secondary-nav
              %ul#secondary-menu.sf-menu
                %li.current_item
                  %a{:href => "index.html"} Home
                %li
                  %a{:href => "archive.html"} Category 1
                  .sf-mega.cols-4
                    .sf-mega-section
                      %ul
                        %li
                          %a{:href => "archive.html"} Sub Category 1.1
                        %li
                          %a{:href => "archive.html"} Sub Category 1.2
                        %li
                          %a{:href => "archive.html"} Sub Category 1.3
                        %li
                          %a{:href => "archive.html"} Sub Category 1.4
                    .sf-mega-posts
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Cras Augue Ante Tincidunt Consequat Ultricies
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
                    / .sf-mega-posts
                  / .sf-mega
                %li
                  %a{:href => "archive.html"} Category 2
                  .sf-mega.cols-4
                    .sf-mega-section
                      %ul
                        %li
                          %a{:href => "archive.html"} Sub Category 2.1
                        %li
                          %a{:href => "archive.html"} Sub Category 2.2
                        %li
                          %a{:href => "archive.html"} Sub Category 2.3
                        %li
                          %a{:href => "archive.html"} Sub Category 2.4
                    .sf-mega-posts
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur Quis
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Ipsum Hendrerit Sed Neque Sed Sapien Rutrum Laoreet
                      .hentry.post
                        %a{:href => "single_post.html", :rel => "bookmark"}
                          %img.entry-thumbnail{:alt => "Post Title", :src => ""}/
                        %h2.entry-title
                          %a{:href => "single_post.html", :rel => "bookmark"} Congue Sed Ligula Nam Dolor Ligula Faucibus Id Sodales
                    / .sf-mega-posts
                  / .sf-mega
                %li
                  %a{:href => "archive.html"} Category 3
                %li
                  %a{:href => "archive.html"} Category 4
                %li
                  %a{:href => "archive.html"} Dropdown
                  %ul
                    %li
                      %a{:href => "archive.html"} Sub Menu 1
                      %ul
                        %li
                          %a{:href => "archive.html"} Sub Menu 1.1
                          %ul
                            %li
                              %a{:href => "archive.html"} Sub Menu 1.1.1
                            %li
                              %a{:href => "archive.html"} Sub Menu 1.1.2
                            %li
                              %a{:href => "archive.html"} Sub Menu 1.1.3
                        %li
                          %a{:href => "archive.html"} Sub Menu 1.2
                        %li
                          %a{:href => "archive.html"} Sub Menu 1.3
                    %li
                      %a{:href => "archive.html"} Sub Menu 2
                    %li
                      %a{:href => "archive.html"} Sub Menu 3
                %li.pull-right
                  - if !current_user
                    %a{type: "button", 'data-toggle' => 'modal', href: "#send-recording"}
                      Login
                      %i.fa.icon-lock
            / Secondary Navigation / End
            .header-social-icons
              %span Follow:
              %a.tooltip{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a.tooltip{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a.tooltip{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a.tooltip{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a.tooltip{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
              %a.tooltip{:href => "#", :title => "RSS"}
                %i.fa.fa-rss
              %a.tooltip{:href => "#", :title => "Newsletter"}
                %i.fa.fa-envelope-o
        / Secondary Bar / End

        = yield

    = render :partial => '/layouts/login_modal'
    = javascript_include_tag "modernizr-2.5.3.min"
    
    / jquery and friends
    = javascript_include_tag "jquery/jquery-2.1.1.js"
    = javascript_include_tag "jplayer/jquery.jplayer.min.js"
    = javascript_include_tag "jquery/jquery-ui-1.11.2.custom.js"
    = javascript_include_tag "jquery/jquery.gritter.min.js"
    = javascript_include_tag "jquery/jquery.icheck.js"
    = javascript_include_tag "jquery/jquery.sparkline.js"
    = javascript_include_tag "jquery/jquery.slimscroll.js"
    = javascript_include_tag "jquery/jquery.dataTables.min.js"
    = javascript_include_tag "jquery/jquery.metisMenu.js"
    = javascript_include_tag "jquery/hoverIntent.js"
    = javascript_include_tag "jquery/superfish.js"
    = javascript_include_tag "jquery/jquery.jcarousel.min.js"
    = javascript_include_tag "jquery/jquery.sidr.min.js"
    = javascript_include_tag "jquery/jquery.custom.js"

    / backbone and friends
    = javascript_include_tag "backbone/underscore-min.js"
    = javascript_include_tag "backbone/backbone-min.js"
    = javascript_include_tag "backbone/backbone.localStorage-min.js"

    = javascript_include_tag "theme/theme.js"
    = javascript_include_tag "angular/app/angular_import.js"
    = javascript_include_tag "application"


