!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html{:lang => "en", 'ng-app' => 'ThePshqEntrepreneur'}
  / <![endif]
  %head
    / Meta
    %base{:href => "/"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
      %meta{:content => "TheWorld is a fresh and clean magazine website template which is beautiful and well-organized", :name => "description"}
        %meta{:content => "magazine template, news template", :name => "keywords"}
          %meta{:content => "themejunkie", :name => "author"}
            / Title
            %title ThePSHQEntrepreneur

            = stylesheet_link_tag "jquery-ui-1.11.2.custom.css"
            = stylesheet_link_tag 'gritter/jquery.gritter.css'
            = stylesheet_link_tag "chosen.css"
            = stylesheet_link_tag "angular/app/plugins/slick-carousel/slick/slick.css"
            = stylesheet_link_tag "angular/app/plugins/slick-carousel/slick/slick-theme.css"
            = stylesheet_link_tag "theme/world-theme-include.css"
            = stylesheet_link_tag "theme2/theme2.css"

  %body

    / Page / Start
    #page.hfeed.site.clearfix
      / Site Main / Start
      %main#main.site-main{:role => "main"}

        %header#masthead.site-header.clearfix{:role => "banner"}
          .container
            #logo.no-padding
              %a{:href => "/"}
                = image_tag "PSHQ-logo-bigger.jpg"

            / Primary Navigation / Start
            %nav#primary-nav
              %ul#primary-menu.sf-menu
                %li
                  %a{:href => "/meet_the_hosts"}
                    About Your Hosts
                %li
                  %a{:href => "/contact_pshq"}
                    Contact Us
                %li
                  %a{:href => "/"}
                    Behind PSHQ
                    %span.menu-desc Learn About the Business
                %li
                  %a{:href => "/"}
                    Visit PSHQ
                    %span.menu-desc Check Us Out

            / Primary Navigation / End
            .clearfix
        / Masthead / End
        / Secondary Bar / Start
        #secondary-bar
          .container.clearfix
            %a#secondary-mobile-menu{:href => "#"}
              %i.fa.fa-bars
              %span Secondary Menu
            / Secondary Navigation / Start
            %nav#secondary-nav
              %ul#secondary-menu.sf-menu
                %li.current_item
                  %a{:href => "/"} Home
                %li
                  %a{:href => "/podcasts"} Podcasts
                %li
                  %a{:href => "/posts"} Posts
                  
                %li.pull-right{'ng-controller' => 'SessionsController'}
                  - if !current_user
                    %a{:href => '', 'ng-click' => 'requestControl.goToLogin()'}
                      Login
                      %i.fa.icon-lock
                  - else
                    %a{:href => '', 'ng-click' => 'requestControl.sign_out()'}
                      Sign Out
            / Secondary Navigation / End
        / Secondary Bar / End

        = yield

        / Footer / Start
        %footer#footer.clearfix
          .container.clearfix
            .footer-column.footer-column-1
              .widget.posts-thumbnail-widget
                %h3.widget-title Recent Posts
                %ul
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Donec Varius Condimentum Auguenec Mollis Risus
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Etiam Elit Est Tincidunt Non Tincidunt Sit
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Suspendisse Sit Amet Turpis Quam Sed Varius
            .footer-column.footer-column-2
              .widget.posts-thumbnail-widget
                %h3.widget-title Popular Posts
                %ul
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Ut Enim ad Minim Veniam Quis Nostrud Exercitation
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => "http://placehold.it/48x48"}/
                    %a{:href => "#", :rel => "bookmark"} Sed Do Eiusmod Tempor Incididunt ut Labore et Dolore
            .footer-column.footer-column-3
              .widget.posts-thumbnail-widget
                %h3.widget-title Ramdom Posts
                %ul
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => ""}/
                    %a{:href => "#", :rel => "bookmark"} Vivamus Ac Dapibus Nisl Proin In Tellus Non Velit
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => ""}/
                    %a{:href => "#", :rel => "bookmark"} Cras Augue Ante Tincidunt Consequat Ultricies
                  %li
                    %a{:href => "#", :rel => "bookmark"}
                      %img.entry-thumbnail{:alt => "#", :src => ""}/
                    %a{:href => "#", :rel => "bookmark"} Vestibulum Quam Neque Pretium Eu Consectetur
            .footer-column.footer-column-4
              .widget.subscribe-widget
                %h3.widget-title Newsletter
                %p Make sure you don't miss interesting happenings by joining our newsletter program. We don't do spam.
                %form{:role => "form"}
                  %input{:placeHolder => "mail@example.com", :type => "text"}
                    %button.btn{:type => "button"} Subscribe
          / .container
          / Site Bottom / Start
          #site-bottom.clearfix
            .footer-social-icons
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter
              %a{:href => "#", :title => "GooglePlus"}
                %i.fa.fa-google-plus
              %a{:href => "#", :title => "Pinterest"}
                %i.fa.fa-pinterest
              %a{:href => "#", :title => "LinkedIn"}
                %i.fa.fa-linkedin
              %a{:href => "#", :title => "RSS"}
                %i.fa.fa-rss
              %a{:href => "#", :title => "Newsletter"}
                %i.fa.fa-envelope-o
            %nav#footer-nav.clearfix
              %ul
                %li
                  %a{:href => "/"} Home
                %li
                  %a{:href => "/podcasts"} Podcasts
                %li
                  %a{:href => "/posts"} Posts
                %li
                  %a{:href => "/meet_the_hosts"} Meet the Hosts
                %li
                  %a{:href => "/contact_pshq"} Contact Us
                %li
                  %a{:href => "/"} About PSHQ
            .copyright
              %p
                \&copy; #{Date.today.year}
                %a{:href => "http://problemsolutionhq.com"} ProblemSolutionHQ.com LLC
              %p{'ng-controller' => 'SessionsController'}
                - if !current_user
                  Powered by
                  %a{:href => "", 'ng-click' => 'requestControl.goToLogin()'} ProblemSolutionHQ.com Application Framework
                  
                - else
                  %a{:href => '', 'ng-click' => 'requestControl.sign_out()'} Sign Out

          / Site Bottom / End
        / Footer / End

    = javascript_include_tag "modernizr-2.5.3.min"
    
    / jquery and friends
    = javascript_include_tag "jquery/jquery-2.1.1.js"
    = javascript_include_tag "jplayer/jquery.jplayer.min.js"
    = javascript_include_tag "jquery/jquery-ui-1.11.2.custom.js"
    = javascript_include_tag "jquery/jquery.gritter.min.js"
    = javascript_include_tag "jquery/jquery.icheck.js"
    = javascript_include_tag "jquery/jquery.sparkline.js"
    = javascript_include_tag "jquery/jquery.slimscroll.js"
    = javascript_include_tag "jquery/jquery.dataTables.min.js"
    = javascript_include_tag "jquery/jquery.metisMenu.js"
    = javascript_include_tag "jquery/hoverIntent.js"
    = javascript_include_tag "jquery/superfish.js"
    = javascript_include_tag "jquery/jquery.jcarousel.min.js"
    = javascript_include_tag "jquery/jquery.sidr.min.js"
    = javascript_include_tag "jquery/jquery.custom.js"

    / backbone and friends
    = javascript_include_tag "backbone/underscore-min.js"
    = javascript_include_tag "backbone/backbone-min.js"
    = javascript_include_tag "backbone/backbone.localStorage-min.js"

    = javascript_include_tag "theme/theme.js"
    = javascript_include_tag "angular/app/angular_import.js"
    = javascript_include_tag "application"


